body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-side {
  display: flex;
  justify-content: space-evenly;
}

.mainside {
  background-color: #a350c7;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  width: 48%;
  text-align: center;
}
